@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  box-sizing: border-box;
} */

.read-the-docs {
  color: #888;
}

:root {
  font-family: 'Monda', sans-serif;
}

body {
  background-color: #0d202c;
  min-height: 100vh;
  position: relative;
  padding-bottom: 2.5em;
}

.logo-green {
  color: #2AA146;
}

.active-btn:active, .focus-input:focus {
outline-style: dashed;
outline-width: 3px;
outline-color: rgb(166, 173, 186);
outline-offset: 5px;

}



@media ( width <= 1004px) {
.card-body {
  padding-inline: 0.2em;
}
}

@media ( width <= 1004px) {
  .card-body {
    padding-inline: 0.5em;
  }
  }

  @media ( width >= 1005px) {
    picture.rounded-sm {
      padding-inline-start: 2em ;
    }
   
    }

